html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

.header {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50px;
    color: white;
    font-size: 50px;
    transform: translate(-50%, -50%);
    
}

.section-title {
    position: flex;
    top: 10%;
    left: 45%;
    text-align: center;
    padding-bottom: 70px;
}

.section-title h1 {
    margin: auto;
    font-size: 60px;
    color: #009688;
    font-weight: bold;
}

#sideNav {
    width: 300px;
    height: 100vh;
    position: fixed;
    right: -300px;
    top: 0;
    background: white;
    z-index: 2;
    transition: 0.5s;
}

nav ul li {
    list-style: none;
    margin: 50px 5px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

#menuBtn {
    width: 50px;
    height: 50px;
    background: white;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 5px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img {
    width: 20px;
    margin-top: 15px;
}





/*       SLIDER AT THE TOP         */





.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
  
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
  
.slides input{
    display: none;
}
  
.slide{
    width: 20%;
    transition: 2s;
}
  
.slide img{
    width: 800px;
    height: 500px;
  }

/* Manual sliding below */

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
.manual-btn{
    border: 2px solid #009688;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
  
.manual-btn:not(:last-child){
    margin-right: 40px;
}
  
.manual-btn:hover{
    background: #009688;
}
  
#radio1:checked ~ .first{
    margin-left: 0;
}
  
#radio2:checked ~ .first{
    margin-left: -20%;
}
  
#radio3:checked ~ .first{
    margin-left: -40%;
}
  
#radio4:checked ~ .first{
    margin-left: -60%;
}
  
#radio5:checked ~ .first{
    margin-left: -80%;
}

  /*css for automatic navigation*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  
}
  
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  
}

  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  
}
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #009688;
  
}
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #009688;
  
}
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #009688;
  
}
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #009688;
  
}

  #radio5:checked ~ .navigation-auto .auto-btn5{
    background: #009688;
  
}

  
@media screen and (max-width: 770px) {
    body {
        width: 120vh;
    }

    .section-title {
        top: 10%;
        left: 70%;
        transform: translate();
        text-align: center;
    }

    .section-title h1 {
        padding-top: 50px;
        font-size: 80px;
    }

    #menuBtn {
        width: 50px;
        height: 50px;
        background: white;
        text-align: center;
        position: fixed;
        padding: 15px;
        right: 30px;
        top: 20px;
        border-radius: 5px;
        z-index: 3;
        cursor: pointer;
    }
    
    #menuBtn img {
        width: 40px;
        margin-top: 8px;
        margin-bottom: 30px;
    }

    .slider {
        position: relative;
        margin-top: 400px;
    }
    #sideNav {
        width: 400px;
        height: 100%;
    }
    
    nav ul li a {
        font-size: 30px;
        font-family:sans-serif;
    }
    
    
}




/*       UPCOMING EVENTS       */


.upcoming-header {
    position: flex;
    padding-top: 100px;
    justify-content: center;
    text-align: center;
}

.upcoming-header h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #009688; 
}

.upcoming-header hr {
    width: 60%;
    height: 2px;
    color: #009688
}

.events-container {
    display: flex;
}

.events-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 20px;
    justify-content: space-evenly;
}

.event {
    flex-basis: 45%;
    max-width: 100%;
    display: inline-flex;
    max-width: max-content;
    margin: 10px 0;
}

.event a {
    display: inline-block;
}

.event a img {
    width: 400px; 
    height: 300px;
    border-radius: 5px;
    display: block;
}







/*     ALL EVENTS LIST       */








#all-events {
    padding-bottom: 100px;
}


#all-events h2 {
    text-align: center;
    color: #009688
}

#all-events hr {
    width: 60%;
    color: #009688;
}

.all-events-year {
    display: flex;
    justify-content: center;
}

.all-events-box {
    width: 700px;
}

.all-events-box a {
    text-decoration: none;
    color: #009688;
    justify-content: space-between;
}

.all-events-box a p {
    margin: 0;
    padding: 10px 10px;
    border-bottom: 1px solid #009688;
}

.right-side {
    float: right;
}


.all-events-box a:hover p {
    background: #009688;
    color: white;
}

@media screen and (max-width: 770px) {
    .all-events-box {
        width: 90%;
    }
    
    .all-events-box a p {
        font-size: 20px;
    }
}














/*     FOOTER     */






#footer {
    width: 100%;
    display: block;
    background: rgb(1, 1, 61);
}


.footer {
    position: relative;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction:column;
    height: 300px;
}

footer > p {
    position: absolute;
    bottom: 5px;
    left: 10px;
    margin: 2px;
    color: white;
}

.footer-content {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.footer-content a p {
    margin: 0;
    color: white;
    border: 0 solid;
    padding: 2px 5px;
    transition: 0.2s;
}

.footer-content a:hover p {
    background-color: white;
    color: black;
    cursor: pointer;
}

.our-content {
    padding: 0 100px;
}

.our-content p , .other-content p {
    color: white;
    text-align: center;
    margin-bottom: 2px;
    border-bottom: 1px solid;
}

.our-content a, .other-content a {
    text-decoration: none;
}

@media screen and (max-width: 770px) {
    .our-content p , .other-content p {
        font-size: 15px;
        padding-top: 20px;
    }

    .our-content {
        padding: 0 40px;
    }
}


